.filter-panel{
    background-color: #E6E6E6;
    padding: 30px;
}

.filter-item{
    background-color: white;
     /* background-image: url(https://plus.unsplash.com/premium_photo-1728510320088-0b89856e726e?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyfHx8ZW58MHx8fHx8); */
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.filter-name .icon{
    font-size:30px;
}
.filter-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}
.input-search{
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.selected{
    background-color: #0F548C;
    color: white;
}